/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  background: var(--global-bg-color);
  height: fit-content;
  top: 0;
  width: 100%;

  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: var(--global-border-color);
    width: 100%;
  }

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0.5em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    /* --- ADDED FOR NAME --- */
    .site-title {
      font-size: $type-size-3; /* Matches sidebar name size */
      font-weight: 800;        /* Extra bold like reference site */
      font-family: $sans-serif;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {
  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }

  /* --- ADDED FOR NAV LINKS (CV, etc.) --- */
  .masthead__menu-item {
    a {
      font-size: $type-size-4; /* Makes CV link noticeably bigger */
      font-weight: 600;
      font-family: $sans-serif;
    }
  }
}


/* --- INCREASE BODY TEXT SIZE --- */
.page__content {
  font-size: 1.4rem;   /* Bumps the text up (default is usually 1rem) */
  line-height: 1.6;     /* Adds breathing room between lines for readability */
  
  p, li {
    margin-bottom: 1.5em; /* Adds space between paragraphs */
  }
}