/* ==========================================================================
   SIDEBAR
   ========================================================================== */

.sidebar {
  -webkit-transform: translate3d(0, 0 , 0);
          transform: translate3d(0, 0 , 0);
  @include clearfix();
  margin-bottom: 1em;

  @media (orientation: portrait) {
    margin-top: 1em;
  }

  /* Desktop Sticking Logic */
  @media screen and (min-width: $sidebar-screen-min-width) {
    height: 100vh;
    overflow-y: auto; 
    position: fixed;
    padding-top: $masthead-height;
  }

  /* Mimicking the wider layout */
  @include breakpoint($large) {
    @include span(3 of 12); /* Increased width to 25% of the screen */
    opacity: 1;
  }

  @include breakpoint($x-large) {
    max-width: $sidebar-link-max-width;
    padding-right: 0;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  h3, h4 {
    font-size: $type-size-4; 
  }

  p, li {
    font-family: $sans-serif;
    font-size: $type-size-5; /* Base sidebar text size */
    line-height: 1.6;
  }

  img {
    width: 100%;
  }
}

.sidebar__right {
  margin-bottom: 1em;
  @include breakpoint($large) {
    position: relative;
    float: right;
    width: $right-sidebar-width-narrow;
    margin-left: span(0.5 of 12);
    z-index: 10;
  }
  @include breakpoint($x-large) {
    width: $right-sidebar-width;
  }
}

/* ==========================================================================
   Author profile and links
   ========================================================================== */

.author__avatar {
  display: table-cell;
  vertical-align: top;
  width: 48px;

  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    max-width: 240px; /* Larger avatar size */
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid var(--global-border-color);
      width: 100%; 
    }
  }
}

.author__content {
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 25px;
  line-height: 1.2;

  @include breakpoint($large) {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.author__name {
  margin: 0;
  font-weight: 700;
  
  @include breakpoint($large) {
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

.sidebar .author__name {
  font-family: $sans-serif;
  font-size: $type-size-3; /* The base size for comparison */
}

.sidebar .author__desktop {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.author__pronouns {
  margin: 0;
  color: #666;
  font-size: $type-size-6;

  @include breakpoint($large) {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.author__bio {
  margin: 0;
  font-size: $type-size-5; /* Exactly 2 sizes smaller than $type-size-3 */
  
  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.author__urls-wrapper {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  font-family: $sans-serif;
  z-index: 20;
  cursor: pointer;

  li:last-child {
    a {
      margin-bottom: 0;
    }
  }

  @include breakpoint($large) {
    display: block;
  }

  button {
    margin-bottom: 0;
    @include breakpoint($large) {
      display: none;
    }
  }
}

.author__urls {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 15px;
  padding: 10px;
  list-style-type: none;
  border: #666;
  border-radius: $border-radius;
  background: var(--global-bg-color);
  z-index: -1;
  box-shadow: 0 0 10px rgba(#000, 0.25);
  cursor: default;

  @include breakpoint($large) {
    display: block;
    position: relative;
    margin: 0;
    padding: 15px; /* Added padding for the internal "box" look */
    border: 1px solid var(--global-border-color); /* Ensures the box border is visible on desktop */
    background: transparent;
    box-shadow: none;
  }

  /* Mobile Dropdown Arrow */
  &:before {
    display: block;
    content: "";
    position: absolute;
    top: -11px;
    left: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: var(--global-border-color) transparent;
    z-index: 0;
    @include breakpoint($large) {
      display: none;
    }
  }

  li {
    white-space: nowrap;
  }

  a {
    display: block;
    margin-bottom: 10px; 
    padding-top: 2px;
    padding-bottom: 2px;
    color: inherit;
    font-size: $type-size-5; /* Exactly 2 sizes smaller than $type-size-3 */
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      text-decoration: underline;
      color: var(--global-theme-color);
    }
  }
}